---
interface Props {
	title: string;
}

const { title } = Astro.props;
import '../styles/index.css';
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Intelligent lead incubation for real estate agents. Automate your follow-ups with AI that feels personal, not fluffy." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gray-900 text-white">
		<slot />
	</body>
</html> 